In [11]:
import pandas as pd

In [13]:
datos = pd.read_excel('./SimpleLinealRegression.xlsx')
datos.head()

   Reduccion de solidos  Reduccion de la demanda de oxigeno
0                     3                                   5
1                     7                                  11
2                    11                                  21
3                    15                                  16
4                    18                                  16

In [17]:
x = datos[['Reduccion de solidos']]
y = datos[['Reduccion de la demanda de oxigeno']]
# print(x.head())
# print(y.head())

   Reduccion de solidos
0                     3
1                     7
2                    11
3                    15
4                    18
   Reduccion de la demanda de oxigeno
0                                   5
1                                  11
2                                  21
3                                  16
4                                  16